<!DOCTYPE html>
<!-- 加入th空间命名-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>商品介绍</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body style="text-align: center; width: 100%; margin: 0 auto;">
	<input type="hidden" id="good_id" th:value="${good.id}" />
	<br />
	<h1 style="width: 100%;">
		<span style="float: left;"><a th:href="myCar">购物车</a></span><span
			class="label label-info" style="margin: 0 auto;">商品描述</span>
	</h1>
	<div style="width: 80%; height: auto; margin: 0 auto;">
		<div class="item active">
			<img style="width: 100%;" th:src="${good.coverLink}"
				alt="First slide" />
		</div>

		<div>
			<p th:utext="${goodDesc.description}"></p>
		</div>
		<br /> <br /> <br /> <a
			th:href="@{'addShopCar?goodId='+${good.id}}" class="btn btn-success"
			style="width: 60%;">加入购物车</a>
	</div>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>

</body>
</html>